  <!-- <body class="unique_bgimage"></body>


  <div class="image">

      <img src="fishbowl_light.jpg" alt="" />

      <h2>Team Polsky's<br />Digital Happiness Bowl</h2>

</div> -->


<header id="heading">
      <div class="container text-center">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Team Polsky's</h1>
        <h4>Digital Happiness Bowl</h4>

        <p><a href="/messages" class="btn btn-large btn-inverse">Read happy messages!</a></p>
      </div>
    </header>
