  <!-- <body class="unique_bgimage"></body>


  <div class="image">

      <img src="fishbowl_light.jpg" alt="" />

      <h2>Team Polsky's<br />Digital Happiness Bowl</h2>

</div> -->


<header id="heading">
      <div class="container text-center">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>Team Polsky's</h1>
        <h4>Digital Happiness Bowl</h4>
      </div>
    </header>


    <div id="main-content">
         <div class="container">
            <div class="row">
              <div class="col-sm-1 col-md-offset-2 col-md-4" style="text-align: center;">
                <br>
                <i class="fa fa-envelope fa-3x" aria-hidden="true" class="centered"></i>
                <br>
                <a href="/messages"><h2>Read Happy Messages</h2></a>
                <p>Take a look at all the team spirit!</p>
                <p class="text-center">
              </div>

              <div class="col-md-4" style="text-align: center;">
                <br>
                <i class="fa fa-pencil fa-3x" aria-hidden="true"></i>
                <a href="/messages/new"><h2>Write a Message</h2></a>
                <p>Two minutes of your time can make someone's day.</p>
                <p class="text-center"></p>
              </div>

           </div>
    </div><!-- @end .row -->
