// .unique_bgimage { background: url('fishbowl_light.jpg') no-repeat top center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }
//
//
// .image {
//    position: relative;
//    width: 100%
// }
//
// h2 {
//    position: absolute;
//    top: 200px;
//    left: 0;
//    width: 100%;
// }

#heading {
  display: block;
  width: 100%;
  height: 420px;
  padding: 20px 0;
  background: url('fishbowl_light.jpg') no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
#heading h1, #heading h2, #heading h3, #heading h4, #heading h5, #heading p {
  text-shadow: 0 1px 3px rgba(166,14,14,0.6), 0 0 30px rgba(166,14,14,0.25);
}

#heading h1 {
  font-size: 90px;
  line-height: 105px;
  letter-spacing: -1px;
  color: rgb(166,14,14)
}

#heading h4 {
  font-size: 30px;
  line-height: 40px;
  color: rgb(166,14,14);
  margin-bottom: 25px;
}
